/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: black;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;  /* Set the fixed height of the footer here */

  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
.col-centered{
    margin: 0 auto;
    float: none;
}
.heading {
    font-family: 'Sansita One', cursive;
}
.subheading {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
.jumbotron {
  background-image: url("https://static.pexels.com/photos/1341/blue-abstract-glass-balls.jpg");
  color: rgb(225, 225, 225);
}
.footer {
  background-color: #28282D;
  color: rgb(225, 225, 225);
  font-family: 'Architects Daughter', cursive;
}
.text-muted {
  color: rgb(225, 225, 225);
}

.wrapper {
  min-height: 1500px;
}

.container {
  width: auto;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.searchResult {
  background-color: white;
  padding: 10px;
}
.searchResult:hover {
  background-color: #eee;
}

h2 {
  padding: 10px;
}

/* Seach Bar CSS */
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}